#root {
  width: 800px;
  height: 480px;
  margin: 0;
  padding: 0;
  text-align: center;
}

body {
  background-color: #c1dff0;
  width: 800px;
  height: 460px;
}

h2 {
  color: black;
  font-family: "Barlow";
}

h4 {
  color: black;
  font-family: "Cal Sans";
}

.dashboard-wrapper {
  position: relative;
  width: 800px;
  height: 480px;
  background-color: #c1dff0;
}

.weather-tile {
  position: absolute;
  padding: 0;
  margin-top: 0;
  border-radius: 16px;
  height: 7rem;
  width: 13.5rem;
  background-color: #fff9fb;
  right: 1rem;
  bottom: 1rem;
}

.weather-tile-title {
  margin: 0;
  position: absolute;
  top: 5px;
  left: 5px;
}

.weather-tile-icon {
  margin: 0;
  position: absolute;
  bottom: 7px;
  left: 1rem;
}

.weather-tile-temp {
  position: absolute;
  margin: 0;
  font-size: 30px;
  bottom: 20px;
  left: 5.8rem;
}

.news-tile-container {
  position: absolute;
  padding: 0;
  height: 12rem;
  width: 22rem;
  margin-top: 0;
  border-radius: 16px;
  background-color: #fff9fb;
  left: 1rem;
  bottom: 1rem;
}

.news-title {
  position: absolute;
  margin: 0;
  padding: 0;
  left: 9rem;
  top: -1rem;
  height: 2rem;
}

.news-article-container {
  position: absolute;
  height: 18rem; 
}

.speaker-tile {
  position: absolute;
  padding: 0;
  height: 6rem;
  width: 22rem;
  margin-top: 0;
  border-radius: 16px;
  background-color: #fff9fb;
  left: 1rem;
  top: 10rem;
}

.tempsensor {
  position: absolute;
  padding: 0;
  margin-top: 0;
  border-radius: 16px;
  height: 7rem;
  width: 10rem;
  background-color: #fff9fb;
  right: 15.5rem;
  bottom: 1rem;
}



.date-time-tile {
  position: absolute;
  padding: 0;
  height: 15rem;
  width: 24rem;
  margin-top: 0;
  border-radius: 16px;
  left: 1rem;
  top: 1rem;
}

.time {
  position: absolute;
  padding: 0;
  margin: 0;
  font-size: 3rem;
  width: 18rem;
  top: 2.5rem;
  left: 1rem;
}

.date {
  position: absolute;
  font-size: 2rem;
  width: 8rem;
  left: 1.3rem;
  top: 4.8rem;
  margin: 0;
  padding: 0;
}

.news-img {
  position: absolute;
  height: 15rem;
  width: auto;
  bottom: 1rem;
  left: 1rem;


}

.calendar-tile {
  position: absolute;
  padding: 0;
  height: 17rem;
  width: 24rem;
  margin-top: 0;
  border-radius: 16px;
  background-color: #fff9fb;
  right: 1rem;
  top: 4rem;
}

.calendar-weekday-box {
  position: absolute;
  display: flex;
  left: .28rem;
  flex-direction: row;
  color: black;
  top: .8rem
}

.calendar-weekday-box > *:not(:last-child) {
  height: 4.2rem;
  border: grey;
  border-right-style: solid;
  border-width: 1px;
}

.calendar-weekday-box > * {
  width: 3.3rem;
}

.calendar-weekday-title {
  font-size: 1rem;
}

.calendar-weekday-date {
  font-size: 1.5rem;
}

.calendar-weekday-notice {
  width: 3px;
  height: 3px;
  background-color: #333;
  border-radius: 50%;
  margin: 0px auto 0 auto; /* center under title */

}

.calendar-date {
  top: 5.5rem;
  left: 1rem;
  position: absolute;
  color: black;
}

.calendar-today {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 7.5rem;
  height: 6.5rem;
  width: 100%;
  gap: .5rem;
}

.calendar-today-event {
  display: flex;
  justify-content: space-between;
  padding-left: 1rem;
  padding-right: 1rem;
  box-sizing: border-box;
  background-color: rgb(206, 232, 248);
  border-radius: 8px;
  height: 2rem;
  width: 20rem;
  left: 2rem;
}

.calendar-event-title {
  justify-content: left;
}

.calendar-event-time {
  justify-content: right;
}

.calendar-upcoming-text {
  position: absolute;
  color: black;
  bottom: 3rem;
  left: 1rem;
}

.calendar-upcoming-events {
  background-color: rgb(206, 232, 248);
  display: flex;
  flex-direction: row;
  position: absolute;
  justify-content: space-between;
  padding-left: 1rem;
  padding-right: 1rem;
  box-sizing: border-box;
  border-radius: 8px;
  gap: 8rem;
  height: 2rem;
  width: 20rem;
  bottom: .6rem;
  left: 2rem;
}
