#root {
  width: 800px;
  height: 480px;
  margin: 0;
  padding: 0;
  text-align: center;
}

body {
  background-color: #c1dff0;
  width: 800px;
  height: 460px;
}

h2 {
  font-family: "Barlow";
}

h4 {
  font-family: "Cal Sans";
}

.dashboard-wrapper {
  position: relative;
  width: 800px;
  height: 480px;
  background-color: #c1dff0;
}

.weather-tile {
  position: absolute;
  padding: 0;
  margin-top: 0;
  border-radius: 16px;
  height: 7rem;
  width: 15rem;
  background-color: #fff9fb;
  right: 1rem;
  bottom: 1rem;
}

.weather-tile-title {
  margin: 0;
  position: absolute;
  top: 5px;
  left: 5px;
}

.weather-tile-icon {
  margin: 0;
  position: absolute;
  bottom: 0;
}

.weather-tile-temp {
  position: absolute;
  margin: 0;
  font-size: 30px;
  bottom: 28px;
  left: 50%;
}

.news-tile-container {
  position: absolute;
  padding: 0;
  height: 12rem;
  width: 20rem;
  margin-top: 0;
  border-radius: 16px;
  background-color: #fff9fb;
  left: 1rem;
  bottom: 1rem;
}

.news-title {
}

.speaker-tile {
  position: absolute;
  padding: 0;
  height: 6rem;
  width: 20rem;
  margin-top: 0;
  border-radius: 16px;
  background-color: #fff9fb;
  left: 1rem;
  top: 10rem;
}
