#root {
  max-width: 800px;
  max-height: 460px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  display: grid;
}

body {
  background-color: #C1DFF0;
}

h2 {
  font-family: "Barlow";
}

.weather-tile-container {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.weather-tile {
  border-radius: 16px;
  height: 6rem;
  width: 15rem;
  background-color: #FFF9FB;
  right: 0;
  bottom: 0;
}
